name: CI

on:
  push:
    branches: [ main, devel ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Detekt (Linter)
        run: ./gradlew detekt --stacktrace

      - name: Run Spotless Check (Formatter)
        run: ./gradlew spotlessCheck --stacktrace

      - name: Build and Run Tests
        run: ./gradlew clean build --stacktrace

      - name: Generate Coverage Report
        run: ./gradlew koverHtmlReport

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: coverage-report
          path: build/reports/kover/html/

      - name: Verify Code Coverage
        run: ./gradlew koverVerify